/* CSS For Dropdown Menu Start */
ul
{
  list-style:none;
  padding:0px;
  margin:0px
}

ul li
{
  display:inline;
  float:left;
}

ul li a
{
  color:#ffffff;
  background:#990E00;
  margin-right:5px;
  font-weight:bold;
  font-size:12px;
  font-family:verdana;
  text-decoration:none;
  display:block;
  width: 100px;
  height:25px;
  line-height:25px;
  text-align:center;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border: 1px solid #560E00;
}

ul li a:hover
{
  color:#cccccc;
  background:#560E00;
  font-weight:bold;
  text-decoration:none;
  display:block;
  width:100px;
  text-align:center;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border: 1px solid #000000;
}

ul li.sublinks a
{
  color:#000000;
  background:#f6f6f6;
  border-bottom:1px solid #cccccc;
  font-weight:normal;
  text-decoration:none;
  display:block;
  width:100px;
  text-align:center;
  margin-top:2px;
}

ul li.sublinks a:hover
{
  color:#000000;
  background:#FFEFC6;
  font-weight:normal;
  text-decoration:none;
  display:block;
  width:100px;
  text-align:center;
}

ul li.sublinks
{
	display:none;
}

/* CSS For Dropdown Menu End */



#menu_container
{
  margin:0px auto;
  width:570px;
}

.clear
{
  clear:both;
}

.left
{
  float:left;
}

.right
{
  float:right;
}

/* CSS For image slider Start */

            .slides_container {
                width:570px;
                height:270px;
            }
            .slides_container div {
                width:570px;
                height:270px;
                display:block;
            }

/* CSS For image slider End */


/* CSS For header and home page - Start */
body {
    width: 850px;
    margin: 20px auto;
}

#header {
    height: 120px;
    background: darkblue;
    background-image: url('../img/2.jpg');
    background-repeat: no-repeat;
}

#title{
  float:right;
}

.maintext{
  border-style: solid;
  height: 400px;
  padding: 20px;  
  background-color: cornflowerblue;
/*  background-image: url('../img/4.jpg') ;
  background-repeat: no-repeat;
  background-position: bottom right;  */
}

.contactsummary{
  background-color: #ffffff;
  border-style: solid;
  height: 200px;
  width: 400px;
  float: left;
  visibility: hidden;
  
}

.imageholder{
 background-image: url('../img/4.jpg') ;
  background-repeat: no-repeat;
  height: 200px;
/*  background-position: top right;*/
  margin-left: 550px;
}

p {
  font-size: 120%;
  font-weight: bolder;
}

/* CSS For header and home page - End */